html {
    background-color: rgb(192, 199, 251);
}

.heads {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
}

.container-item {
    margin: 0.5rem;
    background: #f3edd6;
    border: 3px solid #b59214;
    color: #b59214;
    padding: 3rem;
    font-size: 2rem;
    text-align: center;
}